body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ada6a6, #e0e0e0);
}


img{
    display: flex;
    height: 540px;
    width: 320px;
    background-size: contain;
    text-align: center;
}


#idPrueba{
    position: inherit;
    top: 80%;
    left: 30%;
}

input{
    margin: 10px;
}

button{
    margin: 10px;
    background-color: #62824B;
    color: white;
    border-radius: 10px;
}

h2{ 
    color: #62824B;
    font-size: 5em;
    position: fixed;
    top: 15%;
    left: 12%;
}

h3{ 
    color: #3f6822;
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 7%;
}


#boxL{
    margin: 10px;
    width: 270px;
    height: 450px;
    background-color: rgba(249, 252, 252, 0.63);
    border-radius: 40px;
    
    position: fixed;
    top: 5%;
    left: 5%;
    /*desktop
    top: 5%;
    left: 40%;
    */
}
#name{
    width: 230px;
    height: 30px;
    position: fixed;
    top: 250px;
    left: 11%;
    /*
    desktop
    top: 250px;
    left: 41%;
    */
}
#mail{
    width: 230px;
    height: 30px;
    position: fixed;
    top: 300px;
    left: 11%;
    /*desktop
     top: 300px;
    left: 41%;
    */
}
#passw{
    width: 230px;
    height: 30px;
    position: fixed;
    top: 350px;
    left: 11%;
    /*desktop
    top: 350px;
    left: 41%;*/
}

#boxI{
    margin: 8px;
    width: 270px;
    height: 480px;
    background-color: rgba(181, 190, 177, 0.952);
    border-radius: 40px;
    position: fixed;
    top: 5%;
    left: 5%;

}

#boxName{
    margin: 8px;
    width: 270px;
    height: 30px;
    background-color: #698356b2;
    border-radius: 10px;
    position: fixed;
    top: 12%;
    left: 5%;
}

#post{
    margin: 8px;
    width: 270px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 21%;
    left: 5%;
}

#botonPublic{
    margin: 4px;
    width: 70px;
    height: 30px;
    background-color: #698356b2;
    border: gray;
    border-radius: 5px;
    position: fixed;
    top: 32%;
    right: 5px;
}

#dPost{
    position: fixed;
    top: 40%;
    right: 5px;
}

article{
    width: 18em;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    text-align: center;
}