body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ada6a6, #e0e0e0);
}

img{
    display: flex;
    height: 540px;
    width: 320px;
    background-size: contain;
    text-align: center;
}

#idPrueba{
    position: inherit;
    top: 80%;
    left: 30%;
}

input{
    margin: 10px;
}

button{
    margin: 10px;
}

h2{ 
    font-size: 5em;
    position: fixed;
    top: 15%;
    left: 12%;
}


#boxL{
    margin: 10px;
    width: 270px;
    height: 450px;
    background-color: rgba(249, 252, 252, 0.63);
    border-radius: 40px;
    
    position: fixed;
    top: 5%;
    left: 5%;
    /*desktop
    top: 5%;
    left: 40%;
    */
}
#name{
    width: 230px;
    height: 30px;
    position: fixed;
    top: 250px;
    left: 11%;
    /*
    desktop
    top: 250px;
    left: 41%;
    */
}
#mail{
    width: 230px;
    height: 30px;
    position: fixed;
    top: 300px;
    left: 11%;
    /*desktop
     top: 300px;
    left: 41%;
    */
}
#passw{
    width: 230px;
    height: 30px;
    position: fixed;
    top: 350px;
    left: 11%;
    /*desktop
    top: 350px;
    left: 41%;*/
}
